# Basics of Python

In [1]:
print("hello world")

hello world

In [3]:
print(4)
print(type(4))
print(type(5.36))
print('c')
print(type('c'))
print(type("hello world"))

4
<class 'int'>
<class 'float'>
c
<class 'str'>
<class 'str'>

### Arithmetic Operations

In [11]:
print(4+5)
print(9-5)
print(9*5)
print(9/5)
print(9//5)
print(2**3)
print(3%2)

9
4
45
1.8
1
8
1

In [13]:
print(5*4)
print(5.0*4)

print(4/2)
print(2.5/2)

20
20.0
2.0
1.25

int * int = int
float * int = float
division result is float only

### List

- List Creation

In [15]:
list1 = [1,2,3,'c',"hello"]
print(list1)
print(type(list1))

[1, 2, 3, 'c', 'hello']
<class 'list'>

- List Indexing

In [17]:
print(list1[0])
print(list1[4])

1
hello

- List Updating

In [20]:
list1[0]=5
print(list1)

[5, 2, 3, 'c', 'hello']

- List Oprations

In [25]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(list1+list2)
#print(list1-list2) not allowed
#print(list1*list2) not valid for two lists
print(list1*3) #valid

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

'+' in lists stands for concatenation
' * ' repeats the list n times|

- Negative indexing

In [27]:
list1=[1,2,3,4]
print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])

4
3
2
1

- List Slicing

In [32]:
list1=[1,2,3,4,5,6,7,8,9]
print(list1[0:5]) #select elements from index 0 to index 5-1=4
print(list1[5:9]) #select elements from index 5 to index 8
print(list1[:5]) #default start is 0
print(list1[5:]) #default end is last element
print(list1[:])

print(list1[0::2])
print(list1[1::2]) #for even nos 1::2 means start at index 1 and step of 2

[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

- List slicing Negative Index

In [33]:
list1=[1,2,3,4,5,6,7,8,9]
print(list1[-4:])
print(list1[-4:-1])

[6, 7, 8, 9]
[6, 7, 8]

- List Functions

In [35]:
print(len(list1)) # length of the list
list1.append('a') #new element gets added to the end of the list\
print(list1)

9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a']

In [36]:
list1.append([1,2])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', [1, 2]]

Whatever is inside this bracket of append will be appended at the end

In [37]:
list1.extend([1,2])

In [38]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', [1, 2], 1, 2]

In [39]:
list1.insert(2,55) #the element 55 will be added into the 2nd index of list
print(list1)

[1, 2, 55, 3, 4, 5, 6, 7, 8, 9, 'a', [1, 2], 1, 2]

In [40]:
list1=[2,5,34,32,2]
list1.sort()
print(list1)

[2, 2, 5, 32, 34]

In [44]:
list1=['a','c','b']
list1.sort()
print(list1)

['a', 'b', 'c']

In [46]:
list1=[2,5,34,32,2]
list1.sort(reverse=True)
print(list1)

[34, 32, 5, 2, 2]

In [47]:
list1.clear()
print(list1)

[]

# Day 2

# Strings

- String Indexing

In [6]:
str1='i love python!'
print(str1[0])
print(str1[-1])

i
!

- String Slicing

In [8]:
print(str1[7:13])
print(str1[7:-1])
print(str1[::2])
print(str1[::-1])#reverse the string. As negative indexing is used default starting point is -1 and enpoint is first character

python
python
ilv yhn
!nohtyp evol i

- String Operations|

In [16]:
str1='one'
str2='two'
print(str1+str2)
#print(str1-str2) error
#print(str1*str2) error
print(str1*2)

onetwo
oneone

- User Input

In [21]:
user = input() #it will consider the datatype of anything entered by the user as STRING
print(user)
print(type(user))

123
123
<class 'str'>

In [22]:
user =int(input('ENTER THE NUMBER:')) #ONLY INTEGER ALLOWED
print(user)
print(type(user))

ENTER THE NUMBER:123
123
<class 'int'>

# conditionals

- if else

In [26]:
value = int(input("enter the valid no. "))
if value > 30:
    print('value is greater than 30')
else:
    print('value is less than 30')

enter the valid no. 10
value is less than 30

In [28]:
value = int(input("enter the valid no. "))
if value > 30 and value < 30:
    print('value is greater than or  less than 30')
else:
    print('value is 30')

enter the valid no. 30
value is 30

In [30]:
value = int(input("enter the valid no. "))
if value > 30:
    print('value is greater than 30')
elif value < 30:
    print('value is less than 30')
else:
        print("value is 30")

enter the valid no. 30
value is 30

- single if else

In [33]:
value = int(input("enter the valid no. "))
# if value > 30:
#     print('value is greater than 30')
# else:
#     print('value is less than 30')

print('value greater than 30') if value > 30 else  print('value less than 30')

enter the valid no. 47
value greater than 30

In [35]:
a,b=10,12
# if a!=b:
#     if a>b:
#         print('a greater than b')
#     else:
#         print('a less than b')
# else:
#     print('both are equal')

print('a greater than b') if a>b else print('a less than b') if a!=b else  print('both are equal')

a less than b

In [60]:
cost=int(input('enter cost price:'))
sell=int(input('enter selling price:'))
p=sell-cost
l=-p
if p<0:
    print('The loss incurred was', l)
elif p>0:
    print('The profit was', p)
else:
    print('No profit no loss')

enter cost price:100
enter selling price:0
The loss incurred was 100

In [55]:
a=1
b=2
print('the values are %d and %f'%(a,b))
print('the values are {0} and {1}'.format(a,b))
print('the values are {n1} and {n2}'.format(n1=a,n2=b))

the values are 1 and 2.000000
the values are 1 and 2
the values are 1 and 2

In [61]:
p=int(input('principal:'))
r=int(input('rate:'))
t=int(input('years:'))

si=(p*r*t)/100;
print('The simple interest is %d'%(si))

principal:100
rate:2
years:1
The simple interest is 2